<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
          http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="hbaseConfigrationFactory" class="cn.com.eship.bean.HbaseConfigrationFactory">
        <property name="hbaseClusterDistributed" value="#{hbaseconfig['hbaseClusterDistributed']}"></property>
        <property name="hbaseZookeeperQuorum" value="#{hbaseconfig['hbaseZookeeperQuorum']}"></property>
        <property name="zookeeperZnodeParent" value="#{hbaseconfig['zookeeperZnodeParent']}"></property>
        <property name="hbaseZookeeperPropertyClientPort"
                  value="#{hbaseconfig['hbaseZookeeperPropertyClientPort']}"></property>
    </bean>

    <bean id="configuration" class="org.apache.hadoop.conf.Configuration" factory-bean="hbaseConfigrationFactory"
          factory-method="getConfigration"></bean>
    <bean id="hBaseAdmin" class="org.apache.hadoop.hbase.client.HBaseAdmin">
        <constructor-arg ref="configuration"></constructor-arg>
    </bean>

    <bean id="hTablePool" class="org.apache.hadoop.hbase.client.HTablePool">
        <constructor-arg ref="configuration"></constructor-arg>
        <constructor-arg value="1000"></constructor-arg>
    </bean>
</beans> 